html {
  scroll-behavior: smooth;
  background-color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #535353;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section {
  display: flex;
  align-items: center;
  margin: 5px;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.search {
  display: flex;
}

.search input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 5px;
  height: 20px;
  width: 420px;
}

.search button {
  width: 40px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.login button {
  font-size: large;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease-in-out;
}

.login button:hover {
  background-color: black;
  color: white;
  font-size: larger;
  padding: 4px 9px;
}

main {
  height: 1000px;
  padding: 20px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h1 {
  color: grey;
}

div.music-scroll,
div.video-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  width: 100vw;
  padding: 10px;
}

.item p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  color: white; /* Change the text color to white */
  font-size: 14px; /* Increase the font size */
}


div.music-scroll::-webkit-scrollbar,
div.video-scroll::-webkit-scrollbar {
  display: none;
}

div.music-scroll img,
div.video-scroll img {
  margin-right: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

div.music-scroll img:hover,
div.video-scroll img:hover{
  border: 2px solid #ffffff;
  transform: scale(1.05);
  margin-right: 20px;
}

footer {
  width: 100%;
  background-color: #535353;
  color: white;
}


/* For screens smaller than 768px (e.g., tablets) */
@media (max-width: 768px) {
  .search input[type="text"] {
    width: 300px;
  }

  .right-section {
    margin: 5px 0;
  }

  .login button {
    font-size: medium;
  }

  h1{
    font-size: large;
  }

  div.music-scroll,
  div.video-scroll {
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  div.music-scroll img,
  div.video-scroll img {
    margin-right: 5px;
  }

  div.music-scroll img:hover,
  div.video-scroll img:hover {
    margin-right: 10px;
  }
}

/* For screens smaller than 480px (e.g., smartphones) */
@media (max-width: 480px) {
  .search input[type="text"] {
    width: 200px;
  }

  .logo img {
    height: 40px;
  }

  header {
    padding: 10px;
  }
  h1{
    font-size: medium;
  }
  .login button {
    font-size: small;
  }

  div.music-scroll img,
  div.video-scroll img {
    margin-right: 3px;
  }

  div.music-scroll img:hover,
  div.video-scroll img:hover {
    margin-right: 5px;
  }
}
